<div style="text-align: center">
  <h4 mat-dialog-title><b>Name of team</b></h4>
  <input type="text" style="width: 80%;">
  <h4 mat-dialog-title><b>Logo of team</b></h4>
  <input type="file" style="width: 80%;">
  <h4 mat-dialog-title><b>Type of problem</b></h4>
  <mat-form-field>
    <mat-label>Problem</mat-label>
    <mat-select>
      <mat-option>Automatic class attendance</mat-option>
      <mat-option>Food recognition for cafeteria and dining hall</mat-option>
      <mat-option>Pathology detection by photo of ECG</mat-option>
      <mat-option>Automatic gate for cars with license plate number recognition</mat-option>
      <mat-option>Handwritten text recognition</mat-option>
      <mat-option>Automatic traffic light based on computer vision</mat-option>
      <mat-option>Drowning man detection system by video from coast or drone</mat-option>
      <mat-option>Lost man or animal detection by aerial photo (drone)</mat-option>
    </mat-select>
  </mat-form-field>
  <h4 mat-dialog-title><b>Team members</b></h4>
  <input type="text" style="width: 80%;"><br>
  <br>
  <input type="text" style="width: 80%;"><br>
  <br>
  <input type="text" style="width: 80%;">
  <br>
  <mat-form-field>
    <mat-label>Faculty</mat-label>
    <mat-select>
      <mat-option>Computer Science</mat-option>
      <mat-option>Applied Mathematics & Informatics</mat-option>
      <mat-option>Linguistics(Translation and Translation Studies)</mat-option>
      <mat-option>Philology (English Language and Literature)</mat-option>
      <mat-option>International Law</mat-option>
      <mat-option>Journalism</mat-option>
      <mat-option>Psychology</mat-option>
      <mat-option>Economy (IBE and FC)</mat-option>
      <mat-option>International Relations</mat-option>
      <mat-option>Management</mat-option>
      <mat-option>General Medicine - Pediatrics</mat-option>
    </mat-select>
  </mat-form-field>

</div>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
