<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <img [src]="f" alt="problems" class="images" style="height: 3rem;width: 6rem;">
    </a>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#mission" (click)="toggleC(true)" class="nav-link px-2 link-secondary">Missions</a></li>
      <li><a href="#problem" (click)="toggleC(true)" class="nav-link px-2 link-dark">Problems</a></li>
      <li><a href="#schedule" (click)="toggleC(true)" class="nav-link px-2 link-dark">Schedule</a></li>
      <li><a href="#forms" (click)="toggleC(true)" class="nav-link px-2 link-dark">Forms</a></li>
    </ul>
    <div class="col-md-3 text-end">
      <button routerLink="/profile" (click)="toggleC(false)" type="button" class="btn btn-outline-primary me-2">Login</button>
      <button type="button" class="btn btn-primary" (click)="toggleC(true)">Sign-up</button>
    </div>
  </header>
</div>

<router-outlet *ngIf="!c"></router-outlet>
<div *ngIf="c" style="margin: 1% 1% 0 1%">
  <div id="mission" style="margin-left: 1%;">
    <h1>Missions</h1>
    <h2 style="text-align: center;padding-top: 1%;padding-bottom: 3%;">MAKE COMPUTER VISION AND ARTIFICIAL INTELLIGENCE SYSTEMS CLOSER TO STUDENTS</h2>
    <hr>
  </div>

  <div id="problem" style="margin-left: 1%;">
    <h1>Problems</h1>
    <div class="row">
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <img [src]="a" alt="problems" class="image" style="height: 13rem;">
          <div class="card-body">
            <h4>Automatic class attendance</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <img [src]="b1" alt="problems" class="image" style="height: 14rem;">
          <div class="card-body">
            <h4>Food recognition for cafeteria and dining hall</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <img [src]="b2" alt="problems" class="image">
          <div class="card-body">
            <h4>Pathology detection by photo of ECG</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <img [src]="b3" alt="problems" class="image" style="height: 12rem;">
          <div class="card-body">
            <h4>Automatic gate for cars with license plate number recognition</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <img [src]="b4" alt="problems" class="image" style="height: 13rem;">
          <div class="card-body">
            <h4>Handwritten text recognition</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <img [src]="b5" alt="problems" class="image" style="height: 12rem;">
          <div class="card-body">
            <h4>Automatic traffic light based on computer vision</h4>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>

  <div id="schedule" style="margin-left: 1%;">
    <h1>Schedule</h1>
    <div class="row">
      <div class="step col-md-4">
        <h1>1 STEP</h1>
        <h2>Design Research</h2>
      </div>
      <div class="step col-md-4">
        <h1>2 STEP</h1>
        <h2>Project Development</h2>
      </div>
      <div class="step col-md-4">
        <h1>3 STEP</h1>
        <h2>Final Pitch</h2>
      </div>
    </div>
    <hr>
  </div>
  <div id="forms" style="margin:0 1% 0 1%;">
    <h1>Forms</h1>
    <div>
      <div>
        <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" class="row" enctype="multipart/form-data">
          <div class="col-sm-3">
            <label for="name">Name: </label>
            <input type="text" id="name" name="name" [(ngModel)]="formData.name" required>
          </div>
          <br>
          <div class="col-sm-3">
            <label for="email">Email: </label>
            <input type="email" id="email" name="email" [(ngModel)]="formData.email" required>
          </div>
          <br>
          <div class="col-sm-4">
            <label for="password">Password: </label>
            <input type="password" id="password" name="password" [(ngModel)]="formData.password" required>
          </div>
          <div style="margin: 1%;">
            <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Submit</button>
          </div>
        </form>
      </div>

    </div>
    <hr>
  </div>
</div>
<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1" style="margin-bottom: -10px;margin-top: 10px;">&copy; VISION HACK</p>
  <ul class="list-inline" style="margin-bottom: -10px;margin-top: 10px;">
    <li class="list-inline-item"><a href="#mission">Mission</a></li>
    <li class="list-inline-item"><a href="#problem">Problem</a></li>
    <li class="list-inline-item"><a href="#forms">Form</a></li>
  </ul>
</footer>
