<div class="row" style="margin: 0 5% 0 0">
  <div class="col-sm-3">
    <img [src]="b5" alt="problems" class="image" style="border: 10px solid black;border-radius: 100%;margin: 3% 3% 3% 3%">
  </div>
  <div class="col-sm-3">
    <b>Almazbek uulu </b><br>
    <b>Nureles</b>
    <p>COM-21B</p>
    <p>Computer Science</p>
  </div>
  <div class="col-sm-3">
    <button class="btn btn-success" (click)="openModal()">Problems</button>
  </div>
</div>

<div class="row" style="margin: 2%;">
  <h3>2023</h3>
  <div class="col-sm-3">
    <img [src]="b5" alt="problems" class="image" style="border: 10px solid black;width: 50%;border-radius: 30%">
  </div>
  <div class="col-sm-3 card" style="text-align: center;width: 20%;margin-right: 5%;padding: 1% 0 1% 0">
    <h4>1 STEP</h4>
    <h5>Design Research</h5>
    <label for="file">Upload File:</label>
    <input type="file" id="file" name="file">
  </div>
  <div class="col-sm-3 card" style="text-align: center;width: 20%;margin-right: 5%;padding: 1% 0 1% 0">
    <h4>2 STEP</h4>
    <h5>Project Development</h5>
    <label for="file">Upload File:</label>
    <input type="file" id="file1" name="file">
  </div>
  <div class="col-sm-3 card" style="text-align: center;width: 20%;padding: 1% 0 1% 0">
    <h4>3 STEP</h4>
    <h5>Final Pitch</h5>
    <label for="file">Upload File:</label>
    <input type="file" id="file2" name="file">
  </div>
</div>
